# **üìñ Í∏∞Ï¥à ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÇ¨Ïö© ÏÑ§Î™ÖÏÑú 2ÌÉÑ**



1.   **ÌåêÎã§Ïä§ÎûÄ?**

2.   **Pandas import**

3.   **Series vs DataFrame**

4.   **Series ÏöîÏïΩ**

5.   **DataFrame ÏÉùÏÑ±**

6.   **DataFrame Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏**

7.   **DataFrame Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨**

8.   **DataFrame Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù**

9.   **DataFrame Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±**

10.  **DataFrame Îç∞Ïù¥ÌÑ∞ Î≥ÄÍ≤Ω**

11.  **DataFrame Îç∞Ïù¥ÌÑ∞ Í≤∞Ìï©**

„Ö§



---

## **1. ÌåêÎã§Ïä§ÎûÄ?**

**Ìñâ(Row) X Ïó¥(Column)**Î°ú Íµ¨ÏÑ±Îêú **2Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞ Í∞ùÏ≤¥**Î•º Îã§Î£®Îäî Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù ÎùºÏù¥Î∏åÎü¨Î¶¨Î°ú, ÎåÄÏö©ÎüâÏùò Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ Ï≤òÎ¶¨ÌïòÎäîÎç∞ Îß§Ïö∞ Ìé∏Î¶¨Ìïú ÎèÑÍµ¨ÏûÖÎãàÎã§.

„Ö§

**[NumpyÏôÄ Ï∞®Ïù¥Ï†ê?]**

PandasÎäî NumpyÎ•º Í∏∞Î∞òÏúºÎ°ú ÏûëÏÑ±ÎêòÏßÄÎßå Ìõ®Ïî¨ Îçî **Ïú†Ïó∞ÌïòÍ≥† Ìé∏Î¶¨ÌïòÍ≤å Îç∞Ïù¥ÌÑ∞ Ìï∏Îì§ÎßÅ**Ïù¥ Í∞ÄÎä•Ìï©ÎãàÎã§.

ÎòêÌïú Ï†ÄÏàòÏ§Ä APIÎ•º Ï†úÍ≥µÌïòÎäî NumpyÏôÄ Îã¨Î¶¨ **Í≥†ÏàòÏ§Ä API** Ï†úÍ≥µÌïòÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨ÏûÖÎãàÎã§.

> API : Application Programming InterfaceÏùò ÏïΩÏûêÎ°ú, **ÏùëÏö© ÌîÑÎ°úÍ∑∏Îû® ÌîÑÎ°úÍ∑∏ÎûòÎ∞ç Ïù∏ÌÑ∞ÌéòÏù¥Ïä§**Ïù¥Îã§. Ïª¥Ìì®ÌÑ∞ÎÇò¬†Ïª¥Ìì®ÌÑ∞ ÌîÑÎ°úÍ∑∏Îû®¬†ÏÇ¨Ïù¥Ïùò Ïó∞Í≤∞Ïù¥Î©∞, ÏùºÏ¢ÖÏùò ÏÜåÌîÑÌä∏Ïõ®Ïñ¥¬†Ïù∏ÌÑ∞ÌéòÏù¥Ïä§Ïù¥Îã§. Îã§Î•∏ Ï¢ÖÎ•òÏùò¬†ÏÜåÌîÑÌä∏Ïõ®Ïñ¥Ïóê ÏÑúÎπÑÏä§Î•º Ï†úÍ≥µÌïúÎã§.

„Ö§

## **2. Pandas import**



*   PandasÎ•º ÏÇ¨Ïö©ÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî **Î™®ÎìàÏùÑ import** Ìï¥Ïïº Ìï©ÎãàÎã§.

*   Ï£ºÎ°ú Í∞ÑÍ≤∞ÏÑ±ÏùÑ ÏúÑÌï¥ **pd**ÎùºÎäî Ï∂ïÏïΩÎêú Ïù¥Î¶ÑÏúºÎ°ú ÏÇ¨Ïö©ÌïòÎäî Í≤ÉÏù¥ Í¥ÄÎ°ÄÏûÖÎãàÎã§.

*   PandasÏôÄ NumpyÎäî Í∞ôÏù¥ Ïì∞Ïù¥Îäî Í≤ΩÏö∞Í∞Ä ÎßéÍ∏∞ ÎïåÎ¨∏Ïóê Ï£ºÎ°ú Í∞ôÏù¥ import Ìï©ÎãàÎã§.

In [ ]:
# Pandas Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
import numpy as np  # numpyÎèÑ Ìï®Íªò import

„Ö§

## **3. Series vs Dataframe**




*   Series : **1Ï∞®Ïõê Î∞∞Ïó¥Ïùò ÌòïÌÉú**Î•º Í∞ÄÏßÄÎ©∞ **Ïù∏Îç±Ïä§**(index. Í∞íÏù¥ ÏúÑÏπòÌïòÍ≥† ÏûàÎäî Ï†ïÎ≥¥)ÎùºÎäî Ìïú Í∞ÄÏßÄ Í∏∞Ï§Ä(Ìñâ)Ïóê ÏùòÌï¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÄÏû•Îê©ÎãàÎã§.
</br> </br>

*   Dataframe : **2Ï∞®Ïõê Î∞∞Ïó¥Ïùò ÌòïÌÉú**Î•º Í∞ÄÏßÄÎ©∞ **Ïù∏Îç±Ïä§ÏôÄ ÏπºÎüº**Ïù¥ÎùºÎäî Îëê Í∞ÄÏßÄ Í∏∞Ï§Ä(ÌñâXÏó¥)Ïóê ÏùòÌï¥ Ìëú ÌòïÌÉúÏ≤òÎüº Îç∞Ïù¥ÌÑ∞Í∞Ä Ï†ÄÏû•Îê©ÎãàÎã§.

![image.png]()

Í∑∏Î¶ºÍ≥º Í∞ôÏù¥ ÏãúÎ¶¨Ï¶àÏóêÎäî ÌñâÎßå, Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÄ ÌñâÍ≥º Ïó¥ Î™®Îëê ÏûàÎäî Í≤ÉÏùÑ Î≥º Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

## **4. Series ÏöîÏïΩ**


### **1) Series Ï†ïÏùòÌïòÍ∏∞**

*   Î≥ÄÏàòÎ™Ö = pd.Series([Í∞í])

In [ ]:
# Series ÏöîÏïΩ

# Series Ï†ïÏùòÌïòÍ∏∞
Sr = pd.Series([1, 3, -3, -1, 5])
Sr

0    1
1    3
2   -3
3   -1
4    5
dtype: int64

„Ö§



### **2) SeriesÏóê ÏûàÎäî ÏûêÎ£å ÌôïÏù∏ÌïòÍ∏∞**

*   Í∞í ÌôïÏù∏ : Î≥ÄÏàòÎ™Ö.values

*   Ïù∏Îç±Ïä§ ÌôïÏù∏ : Î≥ÄÏàòÎ™Ö.index

*   ÏûêÎ£åÌòï ÌôïÏù∏ : Î≥ÄÏàòÎ™Ö.dtypes

In [ ]:
# Seires Í∞í ÌôïÏù∏
Sr.values

array([ 1,  3, -3, -1,  5])

In [ ]:
# Series Ïù∏Îç±Ïä§ ÌôïÏù∏
Sr.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# Series ÏûêÎ£åÌòï ÌôïÏù∏
Sr.dtypes

dtype('int64')

„Ö§

### **3) Ïù∏Îç±Ïä§ Î≥ÄÍ≤ΩÌïòÍ∏∞**

Ïù∏Îç±Ïä§Ïùò Ïù¥Î¶ÑÏùÑ ÏõêÌïòÎäî Ïà´ÏûêÎÇò Î¨∏ÏûêÎ°ú Î≥ÄÍ≤ΩÌï† Ïàò ÏûàÏäµÎãàÎã§.
</br></br>

*   Ï≤´ Î≤àÏß∏ Î∞©Î≤ï : pd.Series([Í∞í], index=[Ïù∏Îç±Ïä§Î™Ö])

    SeriesÎ•º Ïù∏Îç±Ïä§Î™ÖÏùÑ Îî∞Î°ú ÏßÄÏ†ïÌïòÏó¨ Îã§Ïãú Ï†ïÏùòÎ•º ÎÇ¥Î¶ΩÎãàÎã§.
    </br> </br>

*   Îëê Î≤àÏß∏ Î∞©Î≤ï : Î≥ÄÏàòÎ™Ö.index = [Ïù∏Îç±Ïä§Î™Ö]
    
    ÏßÅÏ†ëÏ†ÅÏúºÎ°ú Î≥ÄÏàòÏùò Ïù∏Îç±Ïä§Î•º ÏßÄÏ†ïÌï©ÎãàÎã§.

In [ ]:
# Series Ïù∏Îç±Ïä§ Î≥ÄÍ≤Ω1
Sr = pd.Series([1, 3, -3, -1, 5], index=['a', 'b', 'c', 'd', 'e']) # Í∏∞Ï°¥ 0Î∂ÄÌÑ∞ ÏãúÏûëÌïòÎäî Ï†ïÏàòÏóêÏÑú ÏõêÌïòÎäî Í∞íÏúºÎ°ú Î≥ÄÍ≤Ω
Sr

a    1
b    3
c   -3
d   -1
e    5
dtype: int64

In [ ]:
# Series Ïù∏Îç±Ïä§ Î≥ÄÍ≤Ω2
Sr.index = ['f', 'g', 'h', 'fa', 'gb']
Sr

f     1
g     3
h    -3
fa   -1
gb    5
dtype: int64

„Ö§

### **4) Series Ïù∏Îç±Ïä§Î•º ÎåÄÌëúÌïòÎäî Ïù¥Î¶ÑÏùÑ Îî∞Î°ú ÏÑ§Ï†ïÌïòÍ∏∞**

*   Î≥ÄÏàòÎ™Ö.index.names = ‚ÄúÏù∏Îç±Ïä§ Ïù¥Î¶Ñ‚Äù

In [ ]:
# Series Ïù∏Îç±Ïä§ Ïù¥Î¶Ñ ÏÑ§Ï†ï
Sr.index.name = "i_names"
Sr

i_names
f     1
g     3
h    -3
fa   -1
gb    5
dtype: int64

i_nameÏù¥ Ïù∏Îç±Ïä§ Ï†ÑÏ≤¥Î•º ÎåÄÌëúÌïòÎäî Ïù¥Î¶ÑÏúºÎ°ú Îß® ÏúÑÏóê ÏûëÏÑ±ÎêòÏñ¥ Ï∂úÎ†•Îê©ÎãàÎã§.

„Ö§

### **5) Dictionary ÏûêÎ£åÌòïÏùÑ SeriesÎ°ú Î≥ÄÍ≤ΩÌïòÍ∏∞**

*    dictionary ÏûêÎ£åÌòïÏùÑ Í∞íÏúºÎ°ú Í∞ñÎäî Î≥ÄÏàòÎ•º ÏßÄÏ†ïÌïú ÌõÑ, Í∑∏ Î≥ÄÏàòÎ•º Ïù¥Ïö©ÌïòÏó¨ SeriesÎ•º Ï†ïÏùòÌï©ÎãàÎã§.

*   Ïù¥Îïå, dictionaryÏùò key Î∂ÄÎ∂ÑÏù¥ SeriesÏùò indexÏóê Ìï†ÎãπÎê©ÎãàÎã§.
</br> </br>

* Î≥ÄÏàòÎ™Ö = {dictionary Í∞í}

  pd.Series(Î≥ÄÏàòÎ™Ö)

In [ ]:
# dictionaryÎ•º SeriesÎ°ú Î≥ÄÍ≤Ω
# dictionaryÏùò key => SeriesÏùò index
dic = {'d': 22, 'a': 23, 'y': 24, 'th': 25, 'on' : 26}
Sr3 = pd.Series(dic)
Sr3

d     22
a     23
y     24
th    25
on    26
dtype: int64

„Ö§

„Ö§

## **5. DataFrame ÏÉùÏÑ±**


### **1) DataFrame ÏßÅÏ†ë ÏÉùÏÑ±ÌïòÍ∏∞**

pd.DataFrame ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±ÏûêÎ•º Ïù¥Ïö©ÌïòÏó¨ ÏÉùÏÑ±ÌïòÎäî Î∞©Î≤ïÏûÖÎãàÎã§.
</br> </br>

**[numpy array Ïù¥Ïö©]**

 1.   Î®ºÏ†Ä Î¶¨Ïä§Ìä∏Î•º ÏÉùÏÑ±Ìï©ÎãàÎã§
 2.   np.array()Î°ú ÎØ∏Î¶¨ ÏÉùÏÑ±Ìïú Î¶¨Ïä§Ìä∏Î•º nparrayÎ°ú Î∞îÍøâÎãàÎã§.
 3.   pd.DataFrame ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±ÏûêÎ•º Ïù¥Ïö©ÌïòÏó¨ DataframeÏùÑ ÏßÅÏ†ë ÏÉùÏÑ±Ìï©ÎãàÎã§.

      - Î≥ÄÏàòÎ™Ö = pd.DataFrame(nparray, index, columns)
      </br> </br>

**[Dictionary Ïù¥Ïö©]**

 1.   Ï≤´ Î≤àÏß∏ Î≥ÄÏàòÏóê Dictionary ÏûêÎ£åÌòïÏùÑ Í∞ñÎäî Îç∞Ïù¥ÌÑ∞Î•º ÏûÖÎ†•Ìï©ÎãàÎã§.

      - Î≥ÄÏàòÎ™Ö1 = dictionary Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±

 2.   pd.DataFrame ÌÅ¥ÎûòÏä§ ÏÉùÏÑ±ÏûêÎ•º Ïù¥Ïö©ÌïòÏó¨ DataframeÏùÑ ÏßÅÏ†ë ÏÉùÏÑ±Ìï©ÎãàÎã§.
 
      - Î≥ÄÏàòÎ™Ö2 = pd.DataFrame(Î≥ÄÏàòÎ™Ö1)

„Ö§

In [ ]:
## DataFrame ÏßÅÏ†ë ÏÉùÏÑ±
# numpy array Ïù¥Ïö©
list1 = [[1, 2, 3], [11, 12, 13]]
array1 = np.array(list1)
df1 = pd.DataFrame(array1, index=['a', 'b'], columns=list('ABC'))
df1

    A   B   C
a   1   2   3
b  11  12  13

In [ ]:
# dictionary Ïù¥Ïö©
dic2 = {'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df_dic = pd.DataFrame(dic2)
df_dic

   col1  col2  col3
0     1     2     3
1    11    22    33

ÎîïÏÖîÎÑàÎ¶¨ ÏûêÎ£åÌòïÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÉùÏÑ±Ìï† ÎïåÎäî ÏπºÎüºÎ™ÖÎßå Î™ÖÏãúÌï† Ïàò ÏûàÍ≥† Ïù∏Îç±Ïä§Î™ÖÏùÄ Îî∞Î°ú Î™ÖÏãúÌïòÏßÄ Î™ªÌï©ÎãàÎã§.

„Ö§

### **2) ÌååÏùºÏùÑ Î∂àÎü¨ Dataframe ÏÉùÏÑ±ÌïòÍ∏∞**

*   **pd.read_csv()** APIÎ•º ÏÇ¨Ïö©ÌïòÏó¨ csv Ïô∏ ÌïÑÎìú Íµ¨Î∂Ñ Î¨∏Ïûê Í∏∞Î∞òÏùò ÌååÏùº Ìè¨Îß∑ÎèÑ DataFrameÏúºÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§. ÎîîÌè¥Ìä∏ ÌïÑÎìú Íµ¨Î∂Ñ Î¨∏ÏûêÎäî ‚Äò,‚Äô (ÏΩ§Îßà)ÏûÖÎãàÎã§.
    </br> </br>
                                
   
*  **pd.read_csv(ÌååÏùºÍ≤ΩÎ°ú/ÌååÏùºÎ™Ö, sep=‚Äò ÌïÑÎìú Íµ¨Î∂Ñ Î¨∏Ïûê ‚Äô)** 
</br> </br>

> ÌïÑÎìú Íµ¨Î∂Ñ Î¨∏Ïûê : ‚Äò,‚Äô (ÏΩ§Îßà), ‚Äò\t‚Äô (ÌÉ≠)

„Ö§

In [ ]:
# ÏΩîÎû© ÏÇ¨Ïö©Ïãú
from google.colab import drive  # Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏åÏóê ÌååÏùº ÏÉùÏÑ±
drive.mount('/content/drive')

Mounted at /content/drive

ÏΩîÎû©ÏùÑ ÏÇ¨Ïö©Ìï† Í≤ΩÏö∞ ÏúÑ ÏΩîÎìúÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏åÏóê ÌååÏùºÏùÑ ÏÉùÏÑ± ÌõÑ Í∑∏ ÌååÏùºÏóê Îç∞Ïù¥ÌÑ∞ ÌååÏùºÏùÑ ÎÑ£ÏäµÎãàÎã§.

„Ö§

In [ ]:
# csv Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
penguin_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Îç∞Ïù¥Ïç¨/train.csv")
penguin_df

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700
...,...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600

ÌååÏùºÏùÑ Î∂àÎü¨Ïò§Îäî pd.read_csvÎ•º ÏÇ¨Ïö©Ìï† Îïå, ÌååÏùº Í≤ΩÎ°úÏóê /content/drive/My Drive/Colab Notebooks/ ÏùÑ Î∂ôÏó¨ÎÑ£Í≥† Í∑∏ Îí§Ïóê ÏûêÏã†Ïù¥ ÏÑ§Ï†ïÌïú ÌååÏùºÎ™ÖÍ≥º Îç∞Ïù¥ÌÑ∞ ÌååÏùº Ïù¥Î¶ÑÏùÑ Í∏∞ÏûÖÌï©ÎãàÎã§.

„Ö§

## **6. Dataframe Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏**

### **1) Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•ÌïòÍ∏∞**

*   .head() : ÏÉÅÏúÑ 5Í∞úÏùò ÏûêÎ£åÎ•º Ï∂úÎ†•ÌïòÎäî Î©îÏÜåÎìúÏù¥Îã§. ÏßÅÏ†ë ÏûÖÎ†•Ìïú Í∞íÎßåÌÅº Îç∞Ïù¥ÌÑ∞Î•º Ï∂úÎ†•Ìï©ÎãàÎã§.

*   .tail() : ÌïòÏúÑ 5Í∞úÏùò ÏûêÎ£åÎ•º Ï∂úÎ†•ÌïòÎäî Î©îÏÜåÎìúÏù¥Îã§. ÏßÅÏ†ë ÏûÖÎ†•Ìïú Í∞íÎßåÌÅº Îç∞Ïù¥ÌÑ∞Î•º Ï∂úÎ†•Ìï©ÎãàÎã§.

In [ ]:
## Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ÌïòÍ∏∞
# Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
print(penguin_df.head())
print(penguin_df.tail())

   id                                    Species  Island Clutch Completion  \
0   0          Gentoo penguin (Pygoscelis papua)  Biscoe               Yes
1   1  Chinstrap penguin (Pygoscelis antarctica)   Dream                No
2   2          Gentoo penguin (Pygoscelis papua)  Biscoe               Yes
3   3          Gentoo penguin (Pygoscelis papua)  Biscoe               Yes
4   4          Gentoo penguin (Pygoscelis papua)  Biscoe                No

   Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)     Sex  \
0                50.0               15.3                  220    MALE
1                49.5               19.0                  200    MALE
2                45.1               14.4                  210  FEMALE
3                44.5               14.7                  214  FEMALE
4                49.6               16.0                  225    MALE

   Delta 15 N (o/oo)  Delta 13 C (o/oo)  Body Mass (g)
0            8.30515          -25.19017           5550
1            9.63074          -24.34684           3800
2            8.51951          -27.01854           4400
3            8.20106          -26.16524           4850
4            8.38324          -26.84272           5700
      id                                    Species     Island  \
109  109        Adelie Penguin (Pygoscelis adeliae)  Torgersen
110  110        Adelie Penguin (Pygoscelis adeliae)      Dream
111  111        Adelie Penguin (Pygoscelis adeliae)      Dream
112  112  Chinstrap penguin (Pygoscelis antarctica)      Dream
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
109               Yes                36.6               17.8
110               Yes                39.2               18.6
111               Yes                43.2               18.5
112                No                46.9               16.6
113               Yes                50.8               17.3

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
109                  185  FEMALE                NaN                NaN
110                  190    MALE            9.11006          -25.79549
111                  192    MALE            8.97025          -26.03679
112                  192  FEMALE            9.80589          -24.73735
113                  228    MALE            8.27428          -26.30019

     Body Mass (g)
109           3700
110           4250
111           4100
112           2700
113           5600

In [ ]:
# Ï∂úÎ†•ÌïòÍ∏∏ ÏõêÌïòÎäî ÏñëÏùÑ Ïà´ÏûêÎ°ú ÏßÄÏ†ï
print(penguin_df.head(3)) # ÏÉÅÏúÑ 3Í∞úÎßå Ï∂úÎ†•
print(penguin_df.tail(7)) # ÌïòÏúÑ 7Í∞úÎßå Ï∂úÎ†•

   id                                    Species  Island Clutch Completion  \
0   0          Gentoo penguin (Pygoscelis papua)  Biscoe               Yes
1   1  Chinstrap penguin (Pygoscelis antarctica)   Dream                No
2   2          Gentoo penguin (Pygoscelis papua)  Biscoe               Yes

   Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)     Sex  \
0                50.0               15.3                  220    MALE
1                49.5               19.0                  200    MALE
2                45.1               14.4                  210  FEMALE

   Delta 15 N (o/oo)  Delta 13 C (o/oo)  Body Mass (g)
0            8.30515          -25.19017           5550
1            9.63074          -24.34684           3800
2            8.51951          -27.01854           4400
      id                                    Species     Island  \
107  107  Chinstrap penguin (Pygoscelis antarctica)      Dream
108  108  Chinstrap penguin (Pygoscelis antarctica)      Dream
109  109        Adelie Penguin (Pygoscelis adeliae)  Torgersen
110  110        Adelie Penguin (Pygoscelis adeliae)      Dream
111  111        Adelie Penguin (Pygoscelis adeliae)      Dream
112  112  Chinstrap penguin (Pygoscelis antarctica)      Dream
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
107               Yes                46.8               16.5
108               Yes                49.0               19.6
109               Yes                36.6               17.8
110               Yes                39.2               18.6
111               Yes                43.2               18.5
112                No                46.9               16.6
113               Yes                50.8               17.3

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
107                  189  FEMALE            9.65061          -24.48153
108                  212    MALE            9.34089          -24.45189
109                  185  FEMALE                NaN                NaN
110                  190    MALE            9.11006          -25.79549
111                  192    MALE            8.97025          -26.03679
112                  192  FEMALE            9.80589          -24.73735
113                  228    MALE            8.27428          -26.30019

     Body Mass (g)
107           3650
108           4300
109           3700
110           4250
111           4100
112           2700
113           5600

Ïà´ÏûêÎ•º Îî∞Î°ú ÏûÖÎ†•ÌïòÏßÄ ÏïäÏúºÎ©¥ 5Í∞úÏùò ÏûêÎ£åÎßå Ï∂úÎ†•ÎêòÍ≥† 3 ÎòêÎäî 7Í≥º Í∞ôÏùÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂ÏùÄ ÏûêÎ£åÏùò ÏàòÎ•º ÏûÖÎ†•ÌïòÎ©¥ Í∑∏Ïóê Îî∞Îùº ÏûêÎ£åÍ∞Ä Ï∂úÎ†•Îê©ÎãàÎã§.

ÏòàÏãúÏóêÎäî ÏÉÅÏúÑ 3Í∞úÏùò ÏûêÎ£åÏôÄ ÌïòÏúÑ 7Í∞úÏùò ÏûêÎ£åÍ∞Ä Ï∂úÎ†•ÎêòÏóàÏäµÎãàÎã§.

„Ö§

### **2) ÌñâÍ≥º Ïó¥Îßå Ï∂úÎ†•ÌïòÍ∏∞**




*   .index : Ïù∏Îç±Ïä§Î•º Ï∂úÎ†•Ìï©ÎãàÎã§. (Ìñâ)

*   .columns : ÏπºÎüºÏùÑ Ï∂úÎ†•Ìï©ÎãàÎã§. (Ïó¥)

In [ ]:
# ÌñâÍ≥º Ïó¥Îßå Ï∂úÎ†•
print(penguin_df.index) # Î©îÏÜåÎìúÍ∞Ä ÏïÑÎãàÎùº ÏÜçÏÑ±, () ÏûëÏÑ± X
print(penguin_df.columns)

RangeIndex(start=0, stop=114, step=1)
Index(['id', 'Species', 'Island', 'Clutch Completion', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)',
       'Delta 13 C (o/oo)', 'Body Mass (g)'],
      dtype='object')

Ïù∏Îç±Ïä§ÏôÄ ÏπºÎüº Í∞íÏù¥ Î¨¥ÏóáÏù∏ÏßÄ ÌïúÎ≤àÏóê ÌôïÏù∏Ìï† Îïå Ïú†Ïö©Ìïú ÏÜçÏÑ±ÏûÖÎãàÎã§.

„Ö§

### **3) Îç∞Ïù¥ÌÑ∞ Í∞í Ï∂úÎ†•ÌïòÍ∏∞**




*   .values : ÏûêÎ£åÏùò Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Î™®Îëê Ï∂úÎ†•Ìï©ÎãàÎã§.

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Í∞í Ï∂úÎ†•
penguin_df.values

array([[0, 'Gentoo penguin (Pygoscelis papua)', 'Biscoe', ..., 8.30515,
        -25.19017, 5550],
       [1, 'Chinstrap penguin (Pygoscelis antarctica)', 'Dream', ...,
        9.63074, -24.34684, 3800],
       [2, 'Gentoo penguin (Pygoscelis papua)', 'Biscoe', ..., 8.51951,
        -27.01854, 4400],
       ...,
       [111, 'Adelie Penguin (Pygoscelis adeliae)', 'Dream', ...,
        8.97025, -26.03679, 4100],
       [112, 'Chinstrap penguin (Pygoscelis antarctica)', 'Dream', ...,
        9.80589, -24.73735, 2700],
       [113, 'Gentoo penguin (Pygoscelis papua)', 'Biscoe', ..., 8.27428,
        -26.30019, 5600]], dtype=object)

array ÌòïÌÉúÎ°ú Î™®Îì† Îç∞Ïù¥ÌÑ∞ Í∞íÏù¥ Ï∂úÎ†•Îê©ÎãàÎã§.

„Ö§

### **4) Îç∞Ïù¥ÌÑ∞ ÌäπÏßï ÌôïÏù∏ÌïòÍ∏∞**

*   [‚ÄòÏπºÎüºÎ™Ö‚Äô].unique() : Ìï¥Îãπ ÏπºÎüºÏóê Ìï†ÎãπÎêú Îç∞Ïù¥ÌÑ∞Ïùò Í≥†Ïú†Ìïú Í∞íÏùò Ï¢ÖÎ•ò ÌååÏïÖÌï† Ïàò ÏûàÎäî Î©îÏÜåÎìúÏûÖÎãàÎã§.

*   [‚ÄòÏπºÎüºÎ™Ö‚Äô].nunique() : Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Ïùò Í≥†Ïú†Ìïú Í∞íÏùò Ïàò ÌååÏïÖÌï† Ïàò ÏûàÎäî Î©îÏÜåÎìúÏûÖÎãàÎã§.
</br></br>

*   .value_counts() :ÌäπÏ†ï ÏπºÎüºÍ∞íÏùò Ïú†ÌòïÍ≥º Îç∞Ïù¥ÌÑ∞Í∞íÏùò Í±¥ÏàòÎ•º Î∞òÌôòÌïòÎäî Î©îÏÜåÎìúÏûÖÎãàÎã§. Îç∞Ïù¥ÌÑ∞ Î∂ÑÌè¨ÎèÑÎ•º ÌôïÏù∏ÌïòÎäîÎç∞ Ïú†Ïö©Ìï©ÎãàÎã§.
  - Î≥ÄÏàòÎ™Ö['ÏπºÎüºÎ™Ö'].value_counts() : ÏπºÎüºÎ™ÖÏóê ÌôïÏù∏ÌïòÍ≥†Ïûê ÌïòÎäî ÏπºÎüºÎ™ÖÏùÑ Í∏∞ÏûÖÌïú ÌõÑ Ï∂úÎ†•Ìï©ÎãàÎã§.
</br></br>

*   .describe() : ÏπºÎüº Î≥ÑÎ°ú ÌÜµÍ≥Ñ Ï†ïÎ≥¥ Ï∂úÎ†•ÌïòÎäî Î©îÏÜåÎìúÏûÖÎãàÎã§.
 
    - Ï∂úÎ†• Í∞ÄÎä•Ìïú ÌÜµÍ≥Ñ ÏûêÎ£å : count(Í∞úÏàò), mean(ÌèâÍ∑†), std(ÌëúÏ§ÄÌé∏Ï∞®), min(ÏµúÏÜüÍ∞í), 4Î∂ÑÏúÑÏàò(25%, 50%, 75%), max(ÏµúÎåìÍ∞í)

„Ö§

In [ ]:
# Îç∞Ïù¥ÌÑ∞Ïùò Ï¢ÖÎ•ò Ï∂úÎ†•
penguin_df['Species'].unique()

array(['Gentoo penguin (Pygoscelis papua)',
       'Chinstrap penguin (Pygoscelis antarctica)',
       'Adelie Penguin (Pygoscelis adeliae)'], dtype=object)

Species ÏπºÎüº ÎÇ¥Ïóê ÏûàÎäî Îç∞Ïù¥ÌÑ∞Îì§Ïù¥ Ïñ¥Îñ§ Ï¢ÖÎ•òÎ•º Í∞ñÎäîÏßÄ Ï∂úÎ†•Ìï©ÎãàÎã§.
</br></br>

Gentoo penguin (Pygoscelis papua), Chinstrap penguin (Pygoscelis antarctica), Adelie Penguin (Pygoscelis adeliae) 

Ïù¥Î†áÍ≤å Species ÏπºÎüº ÎÇ¥ Îç∞Ïù¥ÌÑ∞Îì§ÏùÄ Ï¥ù 3Í∞úÏùò Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Í∞ÄÏßëÎãàÎã§.

„Ö§

In [ ]:
# Îç∞Ïù¥ÌÑ∞Ïùò Í±¥Ïàò Ï∂úÎ†•
penguin_df['Species'].nunique()

3

Species ÏπºÎüº ÎÇ¥Ïóê ÏûàÎäî Îç∞Ïù¥ÌÑ∞Îì§ÏùÄ 3Í∞úÏùò Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Í∞ÄÏßëÎãàÎã§.
</br></br>

ÏúÑÏóê Ïñ∏Í∏âÌñàÎìØÏù¥

Gentoo penguin (Pygoscelis papua), Chinstrap penguin (Pygoscelis antarctica), Adelie Penguin (Pygoscelis adeliae)

Ïù¥Î†áÍ≤å 3Í∞úÏùò Ï¢ÖÎ•òÎ•º Í∞ÄÏßÄÍ∏∞ ÎïåÎ¨∏Ïóê 3Ïù¥ Ï∂úÎ†•Îê©ÎãàÎã§.

„Ö§

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Ï¢ÖÎ•òÏôÄ Í±¥Ïàò Ï∂úÎ†•
value_counts = penguin_df['Species'].value_counts()
print(value_counts)

Gentoo penguin (Pygoscelis papua)            48
Adelie Penguin (Pygoscelis adeliae)          41
Chinstrap penguin (Pygoscelis antarctica)    25
Name: Species, dtype: int64

Species ÏπºÎüºÏùò Îç∞Ïù¥ÌÑ∞ Ï¢ÖÎ•òÏôÄ Í±¥ÏàòÎ•º Ï∂úÎ†•Ìïú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

In [ ]:
# ÌÜµÍ≥Ñ Ï†ïÎ≥¥ Ï∂úÎ†•
penguin_df.describe()

,id,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g)
count,114.000000,114.000000,114.000000,114.000000,111.000000,111.000000,114.000000
mean,56.500000,44.613158,17.014912,203.052632,8.737634,-25.723051,4327.850877
std,33.052988,5.321829,1.941363,14.653425,0.567698,0.859786,781.766484
min,0.000000,33.500000,13.200000,174.000000,7.632200,-27.018540,2700.000000
25%,28.250000,40.325000,15.225000,190.000000,8.272585,-26.434025,3675.000000
50%,56.500000,45.200000,17.250000,199.000000,8.632590,-25.955410,4250.000000
75%,84.750000,49.075000,18.600000,216.000000,9.264635,-25.005945,4850.000000
max,113.000000,55.100000,21.100000,231.000000,10.025440,-24.102550,6300.000000

In [ ]:
# ÌäπÏ†ï ÌÜµÍ≥ÑÍ∞í Ï∂úÎ†•
print(penguin_df.count())  # Î™®Îì† ÏπºÎüºÏùò count Í≤∞Í≥ºÎ•º Î∞òÌôò
print(penguin_df[['Culmen Length (mm)', 'Flipper Length (mm)']].mean())  # ÌäπÏ†ï ÏπºÎüºÏùò mean Í≤∞Í≥º Î∞òÌôò

id                     114
Species                114
Island                 114
Clutch Completion      114
Culmen Length (mm)     114
Culmen Depth (mm)      114
Flipper Length (mm)    114
Sex                    111
Delta 15 N (o/oo)      111
Delta 13 C (o/oo)      111
Body Mass (g)          114
dtype: int64
Culmen Length (mm)      44.613158
Flipper Length (mm)    203.052632
dtype: float64

ÌÜµÍ≥Ñ ÏûêÎ£åÎ•º Ï∂úÎ†•Ìï† Îïå, Í∞ÄÎä•Ìïú ÏûêÎ£åÌòïÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÎØ∏Î¶¨ ÌôïÏù∏Ìï¥Ïïº Ìï©ÎãàÎã§.

ÏòàÎ•º Îì§Ïñ¥ Î¨∏ÏûêÌòïÏùò Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† ÏûàÎäî ÏπºÎüºÏùÄ ÌèâÍ∑†Í∞íÏùÑ Ï∂úÎ†•ÏãúÌÇ§ÏßÄ Î™ªÌïòÍ≥† ÏóêÎü¨Í∞Ä Îú®Í≤å Îê©ÎãàÎã§.
</br></br>

countÎÇò mean Ïô∏ Îã§Î•∏ ÌÜµÍ≥Ñ Í∞íÎèÑ ÎòëÍ∞ôÏù¥ Ï†ÅÏö©Îê©ÎãàÎã§.

ÏòàÏãú : penguin_df.std(), penguin_df.min(), penguin_df.max() Îì±

„Ö§

## **7. Dataframe Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨**

### **1) Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨**

*   .sort_values() : Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÌñâÍ≥º Ïó¥ÏùÑ Ï†ïÎ†¨ÌïòÎäî Î©îÏÜåÎìúÏûÖÎãàÎã§. ÎîîÌè¥Ìä∏ Í∞íÏùÄ Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨Îê©ÎãàÎã§. NaN(Í≤∞Ï∏°Í∞í)Ïù¥ ÏûàÎã§Î©¥ Í∑∏ Í∞íÏùÄ Îß® ÎßàÏßÄÎßâÏóê ÏúÑÏπòÌï©ÎãàÎã§. Î¨∏ÏûêÏó¥ÏùÄ „Ñ±„Ñ¥„Ñ∑(ÌïúÍ∏Ä), abc(ÏòÅÏñ¥) ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§.
</br></br>

*   Î≥ÄÏàòÎ™Ö[‚ÄòÌäπÏ†ï ÏπºÎüºÎ™Ö‚Äô].sort_values() : ÌäπÏ†ï ÏπºÎüºÎ™ÖÏùÑ Ï∂îÏ∂úÌïú ÌõÑ Í∑∏ Í∞íÏùÑ Ï†ïÎ†¨ÌïòÎäî Î∞©Î≤ïÏûÖÎãàÎã§.
</br></br>

*   .sort_values() ÌååÎùºÎØ∏ÌÑ∞

    by : ÌäπÏ†ï ÏπºÎüºÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨
    
    ascending : Ï†ïÎ†¨Ïùò Î∞©Ìñ• (True: Ïò§Î¶ÑÏ∞®Ïàú, False: ÎÇ¥Î¶ºÏ∞®Ïàú)

    axis : Ï†ïÎ†¨Ìï† ÎåÄÏÉÅ Ï∂ï (=0: Ïù∏Îç±Ïä§ Í∏∞Ï§Ä, =1: ÏπºÎüº Í∏∞Ï§Ä)

„Ö§

In [ ]:
# ÌñâÍ≥º Ïó¥ Ï†ïÎ†¨
print(penguin_df['Sex'].sort_values())  # Sex ÏπºÎüºÏùÑ Ï∂îÏ∂úÌïú Îí§ Ï†ïÎ†¨

57     FEMALE
73     FEMALE
38     FEMALE
93     FEMALE
92     FEMALE
        ...
54       MALE
113      MALE
6         NaN
8         NaN
70        NaN
Name: Sex, Length: 114, dtype: object

Sex ÏπºÎüºÏùÑ Ï∂îÏ∂úÌïú Îí§ Ï†ïÎ†¨ÌïòÏòÄÏäµÎãàÎã§. FEMALE, MALE ÏàúÏúºÎ°ú Ï†ïÎ†¨ÎêòÏóàÍ≥† NaNÍ∞íÏùÄ Îß® ÎßàÏßÄÎßâÏóê ÏúÑÏπòÌïú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

In [ ]:
print(penguin_df.sort_values(by=['Sex'])) # Sex ÏπºÎüºÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨

      id                                    Species     Island  \
57    57  Chinstrap penguin (Pygoscelis antarctica)      Dream
73    73          Gentoo penguin (Pygoscelis papua)     Biscoe
38    38        Adelie Penguin (Pygoscelis adeliae)  Torgersen
93    93          Gentoo penguin (Pygoscelis papua)     Biscoe
92    92          Gentoo penguin (Pygoscelis papua)     Biscoe
..   ...                                        ...        ...
54    54  Chinstrap penguin (Pygoscelis antarctica)      Dream
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe
6      6        Adelie Penguin (Pygoscelis adeliae)  Torgersen
8      8        Adelie Penguin (Pygoscelis adeliae)  Torgersen
70    70          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
57                Yes                42.4               17.3
73                Yes                43.6               13.9
38                Yes                33.5               19.0
93                Yes                42.0               13.5
92                Yes                45.2               14.8
..                ...                 ...                ...
54                Yes                51.4               19.0
113               Yes                50.8               17.3
6                 Yes                42.0               20.2
8                 Yes                34.1               18.1
70                Yes                46.2               14.4

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
57                   181  FEMALE            9.35138          -24.68790
73                   217  FEMALE            8.27141          -26.77650
38                   190  FEMALE            7.88863          -26.63085
93                   210  FEMALE            7.63884          -25.52627
92                   212  FEMALE            8.24246          -26.11969
..                   ...     ...                ...                ...
54                   201    MALE            9.43782          -24.36202
113                  228    MALE            8.27428          -26.30019
6                    190     NaN            9.13362          -25.09368
8                    193     NaN                NaN                NaN
70                   214     NaN            8.24253          -26.81540

     Body Mass (g)
57            3600
73            4900
38            3600
93            4150
92            5200
..             ...
54            3950
113           5600
6             4250
8             3475
70            4650

[114 rows x 11 columns]

Sex ÏπºÎüºÏùÑ Î®ºÏ†Ä Ï†ïÎ†¨Ìïú Îí§ Í∑∏Í≤ÉÏóê ÎßûÏ∂∞ Îã§Î•∏ ÏπºÎüºÏùò Îç∞Ïù¥ÌÑ∞ Í∞íÎèÑ Ï†ïÎ†¨ÎêòÏóàÏäµÎãàÎã§.

„Ö§

### **2) Ïù∏Îç±Ïä§ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨**

*   .sort_index() : Ïù∏Îç±Ïä§ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÌñâÍ≥º Ïó¥ÏùÑ Ï†ïÎ†¨Ìï©ÎãàÎã§. ÎîîÌè¥Ìä∏ Í∞íÏùÄ Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨Îê©ÎãàÎã§.
</br>

*   .sort_index()Ïùò ÌååÎùºÎØ∏ÌÑ∞

    ascending : Ï†ïÎ†¨Ïùò Î∞©Ìñ• (True: Ïò§Î¶ÑÏ∞®Ïàú, False: ÎÇ¥Î¶ºÏ∞®Ïàú)

„Ö§

In [ ]:
# Ïù∏Îç±Ïä§ Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨
print(penguin_df.sort_index()) # Ïù∏Îç±Ïä§ Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨

      id                                    Species     Island  \
0      0          Gentoo penguin (Pygoscelis papua)     Biscoe
1      1  Chinstrap penguin (Pygoscelis antarctica)      Dream
2      2          Gentoo penguin (Pygoscelis papua)     Biscoe
3      3          Gentoo penguin (Pygoscelis papua)     Biscoe
4      4          Gentoo penguin (Pygoscelis papua)     Biscoe
..   ...                                        ...        ...
109  109        Adelie Penguin (Pygoscelis adeliae)  Torgersen
110  110        Adelie Penguin (Pygoscelis adeliae)      Dream
111  111        Adelie Penguin (Pygoscelis adeliae)      Dream
112  112  Chinstrap penguin (Pygoscelis antarctica)      Dream
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
0                 Yes                50.0               15.3
1                  No                49.5               19.0
2                 Yes                45.1               14.4
3                 Yes                44.5               14.7
4                  No                49.6               16.0
..                ...                 ...                ...
109               Yes                36.6               17.8
110               Yes                39.2               18.6
111               Yes                43.2               18.5
112                No                46.9               16.6
113               Yes                50.8               17.3

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0                    220    MALE            8.30515          -25.19017
1                    200    MALE            9.63074          -24.34684
2                    210  FEMALE            8.51951          -27.01854
3                    214  FEMALE            8.20106          -26.16524
4                    225    MALE            8.38324          -26.84272
..                   ...     ...                ...                ...
109                  185  FEMALE                NaN                NaN
110                  190    MALE            9.11006          -25.79549
111                  192    MALE            8.97025          -26.03679
112                  192  FEMALE            9.80589          -24.73735
113                  228    MALE            8.27428          -26.30019

     Body Mass (g)
0             5550
1             3800
2             4400
3             4850
4             5700
..             ...
109           3700
110           4250
111           4100
112           2700
113           5600

[114 rows x 11 columns]

In [ ]:
print(penguin_df.sort_index(ascending=False)) # ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨

      id                                    Species     Island  \
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe
112  112  Chinstrap penguin (Pygoscelis antarctica)      Dream
111  111        Adelie Penguin (Pygoscelis adeliae)      Dream
110  110        Adelie Penguin (Pygoscelis adeliae)      Dream
109  109        Adelie Penguin (Pygoscelis adeliae)  Torgersen
..   ...                                        ...        ...
4      4          Gentoo penguin (Pygoscelis papua)     Biscoe
3      3          Gentoo penguin (Pygoscelis papua)     Biscoe
2      2          Gentoo penguin (Pygoscelis papua)     Biscoe
1      1  Chinstrap penguin (Pygoscelis antarctica)      Dream
0      0          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
113               Yes                50.8               17.3
112                No                46.9               16.6
111               Yes                43.2               18.5
110               Yes                39.2               18.6
109               Yes                36.6               17.8
..                ...                 ...                ...
4                  No                49.6               16.0
3                 Yes                44.5               14.7
2                 Yes                45.1               14.4
1                  No                49.5               19.0
0                 Yes                50.0               15.3

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
113                  228    MALE            8.27428          -26.30019
112                  192  FEMALE            9.80589          -24.73735
111                  192    MALE            8.97025          -26.03679
110                  190    MALE            9.11006          -25.79549
109                  185  FEMALE                NaN                NaN
..                   ...     ...                ...                ...
4                    225    MALE            8.38324          -26.84272
3                    214  FEMALE            8.20106          -26.16524
2                    210  FEMALE            8.51951          -27.01854
1                    200    MALE            9.63074          -24.34684
0                    220    MALE            8.30515          -25.19017

     Body Mass (g)
113           5600
112           2700
111           4100
110           4250
109           3700
..             ...
4             5700
3             4850
2             4400
1             3800
0             5550

[114 rows x 11 columns]

Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Îêú Ï≤´Î≤àÏß∏ ÏΩîÎìúÏùò Ï∂úÎ†•Í∞íÏóê Î∞òÌï¥ ascending=FalseÏùÑ ÎÑ£ÏùÄ ÎëêÎ≤àÏß∏ ÏΩîÎìúÏùò Ï∂úÎ†•Í∞íÏùÄ ÌÅ∞Í∞íÏóêÏÑú ÏûëÏùÄÍ∞íÏúºÎ°ú Ï†ïÎ†¨ÎêòÎäî ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï∂úÎ†•ÎêòÏóàÏäµÎãàÎã§.

„Ö§

## **8. Dataframe Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù**

*   Ïä¨ÎùºÏù¥Ïã± Ïù¥Ïö© : df[Ïª¨ÎüºÎ™Ö],¬†df[ÏãúÏûëÏù∏Îç±Ïä§:ÎÅùÏù∏Îç±Ïä§+1],¬†df[ÏãúÏûëÏù∏Îç±Ïä§Î™Ö:ÎÅùÏù∏Îç±Ïä§Î™Ö]

*   .loc[Ìñâ, Ïó¥] : ÎùºÎ≤®Ïùò Ïù¥Î¶ÑÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù (Î™ÖÏπ≠ Í∏∞Î∞ò)

*   .iloc[Ïù∏Îç±Ïä§ Î≤àÌò∏] : ÏúÑÏπòÎ•º ÎÇòÌÉÄÎÇ¥Îäî Ïù∏Îç±Ïä§ Î≤àÌò∏ Ïù¥Ïö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù (ÏúÑÏπò Í∏∞Î∞ò)
</br></br>


> Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ixÎäî ÏµúÍ∑ºÏóê ÏÇ¨ÎùºÏ°åÏúºÎãà Ï∞∏Í≥† Î∂ÄÌÉÅÎìúÎ¶ΩÎãàÎã§.

„Ö§

In [ ]:
## Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù
# Ïä¨ÎùºÏù¥Ïã± Ïù¥Ïö©
print(penguin_df['Culmen Length (mm)'])  # Culmen Length (mm)Îç∞Ïù¥ÌÑ∞Îßå Ï∂úÎ†•

0      50.0
1      49.5
2      45.1
3      44.5
4      49.6
       ...
109    36.6
110    39.2
111    43.2
112    46.9
113    50.8
Name: Culmen Length (mm), Length: 114, dtype: float64

Culmen Length (mm) ÏπºÎüºÎßå Îî∞Î°ú Ï∂úÎ†•ÎêòÏñ¥ Í∑∏ ÏπºÎüºÏùò Îç∞Ïù¥ÌÑ∞ÎßåÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

In [ ]:
print(penguin_df[3:12])  # 3Î∂ÄÌÑ∞ 11 Ïù∏Îç±Ïä§Ïùò Îç∞Ïù¥ÌÑ∞Îßå Ï∂úÎ†•
print(penguin_df[:]) # Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
print(penguin_df[3:]) # 3Î∂ÄÌÑ∞ ÎÅùÍπåÏßÄ Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•
print(penguin_df[:12]) # Ï≤òÏùåÎ∂ÄÌÑ∞ 11 Ïù∏Îç±Ïä§Ïùò Îç∞Ïù¥ÌÑ∞ Ï∂úÎ†•

    id                                    Species     Island  \
3    3          Gentoo penguin (Pygoscelis papua)     Biscoe
4    4          Gentoo penguin (Pygoscelis papua)     Biscoe
5    5          Gentoo penguin (Pygoscelis papua)     Biscoe
6    6        Adelie Penguin (Pygoscelis adeliae)  Torgersen
7    7  Chinstrap penguin (Pygoscelis antarctica)      Dream
8    8        Adelie Penguin (Pygoscelis adeliae)  Torgersen
9    9          Gentoo penguin (Pygoscelis papua)     Biscoe
10  10  Chinstrap penguin (Pygoscelis antarctica)      Dream
11  11        Adelie Penguin (Pygoscelis adeliae)      Dream

   Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
3                Yes                44.5               14.7
4                 No                49.6               16.0
5                Yes                51.1               16.5
6                Yes                42.0               20.2
7                Yes                46.4               18.6
8                Yes                34.1               18.1
9                Yes                47.7               15.0
10               Yes                52.8               20.0
11               Yes                36.2               17.3

    Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
3                   214  FEMALE            8.20106          -26.16524
4                   225    MALE            8.38324          -26.84272
5                   225    MALE            8.20660          -26.36863
6                   190     NaN            9.13362          -25.09368
7                   190  FEMALE            9.32105          -24.64162
8                   193     NaN                NaN                NaN
9                   216  FEMALE            8.53018          -26.72751
10                  205    MALE            9.25177          -24.69638
11                  187  FEMALE            8.90723          -26.30037

    Body Mass (g)
3            4850
4            5700
5            5250
6            4250
7            3450
8            3475
9            4750
10           4550
11           3300
      id                                    Species     Island  \
0      0          Gentoo penguin (Pygoscelis papua)     Biscoe
1      1  Chinstrap penguin (Pygoscelis antarctica)      Dream
2      2          Gentoo penguin (Pygoscelis papua)     Biscoe
3      3          Gentoo penguin (Pygoscelis papua)     Biscoe
4      4          Gentoo penguin (Pygoscelis papua)     Biscoe
..   ...                                        ...        ...
109  109        Adelie Penguin (Pygoscelis adeliae)  Torgersen
110  110        Adelie Penguin (Pygoscelis adeliae)      Dream
111  111        Adelie Penguin (Pygoscelis adeliae)      Dream
112  112  Chinstrap penguin (Pygoscelis antarctica)      Dream
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
0                 Yes                50.0               15.3
1                  No                49.5               19.0
2                 Yes                45.1               14.4
3                 Yes                44.5               14.7
4                  No                49.6               16.0
..                ...                 ...                ...
109               Yes                36.6               17.8
110               Yes                39.2               18.6
111               Yes                43.2               18.5
112                No                46.9               16.6
113               Yes                50.8               17.3

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0                    220    MALE            8.30515          -25.19017
1                    200    MALE            9.63074          -24.34684
2                    210  FEMALE            8.51951          -27.01854
3                    214  FEMALE            8.20106          -26.16524
4                    225    MALE            8.38324          -26.84272
..                   ...     ...                ...                ...
109                  185  FEMALE                NaN                NaN
110                  190    MALE            9.11006          -25.79549
111                  192    MALE            8.97025          -26.03679
112                  192  FEMALE            9.80589          -24.73735
113                  228    MALE            8.27428          -26.30019

     Body Mass (g)
0             5550
1             3800
2             4400
3             4850
4             5700
..             ...
109           3700
110           4250
111           4100
112           2700
113           5600

[114 rows x 11 columns]
      id                                    Species     Island  \
3      3          Gentoo penguin (Pygoscelis papua)     Biscoe
4      4          Gentoo penguin (Pygoscelis papua)     Biscoe
5      5          Gentoo penguin (Pygoscelis papua)     Biscoe
6      6        Adelie Penguin (Pygoscelis adeliae)  Torgersen
7      7  Chinstrap penguin (Pygoscelis antarctica)      Dream
..   ...                                        ...        ...
109  109        Adelie Penguin (Pygoscelis adeliae)  Torgersen
110  110        Adelie Penguin (Pygoscelis adeliae)      Dream
111  111        Adelie Penguin (Pygoscelis adeliae)      Dream
112  112  Chinstrap penguin (Pygoscelis antarctica)      Dream
113  113          Gentoo penguin (Pygoscelis papua)     Biscoe

    Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
3                 Yes                44.5               14.7
4                  No                49.6               16.0
5                 Yes                51.1               16.5
6                 Yes                42.0               20.2
7                 Yes                46.4               18.6
..                ...                 ...                ...
109               Yes                36.6               17.8
110               Yes                39.2               18.6
111               Yes                43.2               18.5
112                No                46.9               16.6
113               Yes                50.8               17.3

     Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
3                    214  FEMALE            8.20106          -26.16524
4                    225    MALE            8.38324          -26.84272
5                    225    MALE            8.20660          -26.36863
6                    190     NaN            9.13362          -25.09368
7                    190  FEMALE            9.32105          -24.64162
..                   ...     ...                ...                ...
109                  185  FEMALE                NaN                NaN
110                  190    MALE            9.11006          -25.79549
111                  192    MALE            8.97025          -26.03679
112                  192  FEMALE            9.80589          -24.73735
113                  228    MALE            8.27428          -26.30019

     Body Mass (g)
3             4850
4             5700
5             5250
6             4250
7             3450
..             ...
109           3700
110           4250
111           4100
112           2700
113           5600

[111 rows x 11 columns]
    id                                    Species     Island  \
0    0          Gentoo penguin (Pygoscelis papua)     Biscoe
1    1  Chinstrap penguin (Pygoscelis antarctica)      Dream
2    2          Gentoo penguin (Pygoscelis papua)     Biscoe
3    3          Gentoo penguin (Pygoscelis papua)     Biscoe
4    4          Gentoo penguin (Pygoscelis papua)     Biscoe
5    5          Gentoo penguin (Pygoscelis papua)     Biscoe
6    6        Adelie Penguin (Pygoscelis adeliae)  Torgersen
7    7  Chinstrap penguin (Pygoscelis antarctica)      Dream
8    8        Adelie Penguin (Pygoscelis adeliae)  Torgersen
9    9          Gentoo penguin (Pygoscelis papua)     Biscoe
10  10  Chinstrap penguin (Pygoscelis antarctica)      Dream
11  11        Adelie Penguin (Pygoscelis adeliae)      Dream

   Clutch Completion  Culmen Length (mm)  Culmen Depth (mm)  \
0                Yes                50.0               15.3
1                 No                49.5               19.0
2                Yes                45.1               14.4
3                Yes                44.5               14.7
4                 No                49.6               16.0
5                Yes                51.1               16.5
6                Yes                42.0               20.2
7                Yes                46.4               18.6
8                Yes                34.1               18.1
9                Yes                47.7               15.0
10               Yes                52.8               20.0
11               Yes                36.2               17.3

    Flipper Length (mm)     Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0                   220    MALE            8.30515          -25.19017
1                   200    MALE            9.63074          -24.34684
2                   210  FEMALE            8.51951          -27.01854
3                   214  FEMALE            8.20106          -26.16524
4                   225    MALE            8.38324          -26.84272
5                   225    MALE            8.20660          -26.36863
6                   190     NaN            9.13362          -25.09368
7                   190  FEMALE            9.32105          -24.64162
8                   193     NaN                NaN                NaN
9                   216  FEMALE            8.53018          -26.72751
10                  205    MALE            9.25177          -24.69638
11                  187  FEMALE            8.90723          -26.30037

    Body Mass (g)
0            5550
1            3800
2            4400
3            4850
4            5700
5            5250
6            4250
7            3450
8            3475
9            4750
10           4550
11           3300

„Ö§

In [ ]:
# loc
penguin_df.loc[11, 'Body Mass (g)'] # Body Mass Ïó¥Ïóê 11 Ïù∏Îç±Ïä§(Ìñâ)Ïóê ÎùºÎ≤®Ïùò Ïù¥Î¶ÑÏùÑ Ïù¥Ïö© (Î™ÖÏπ≠Í∏∞Î∞ò)

3300

Body Mass (g) ÏπºÎüºÏóê 11 Ïù∏Îç±Ïä§Ïóê ÏúÑÏπòÎêú Í∞íÏù∏ 3300ÏùÑ Ï∂úÎ†•Ìï©ÎãàÎã§.

Ïù¥Îïå 11Î≤àÏß∏ Ïù∏Îç±Ïä§Í∞Ä ÏïÑÎãàÎùº 0Î∂ÄÌÑ∞ 113Ïùò Ïù∏Îç±Ïä§ Ï§ë Ïù∏Îç±Ïä§Î™ÖÏù¥ 11Ïù∏ Îç∞Ïù¥ÌÑ∞ Í∞íÏù¥ Ìï¥ÎãπÎê©ÎãàÎã§. Î™ÖÏπ≠Í∏∞Î∞òÏù¥Í∏∞ ÎïåÎ¨∏ÏûÖÎãàÎã§.

„Ö§

In [ ]:
# iloc
penguin_df.iloc[2, 3]  # Ïù∏Îç±Ïä§ Î≤àÌò∏ Ïù¥Ïö© (ÏúÑÏπòÍ∏∞Î∞ò)

'Yes'

ÏúÑÏπòÍ∏∞Î∞òÏùÄ Ï≤´Î≤àÏß∏ ÏàúÏÑúÎ•º 0ÏúºÎ°ú Ï∑®Í∏âÌï©ÎãàÎã§. Í∑∏ÎûòÏÑú 2ÏôÄ 3ÏùÑ ÏûÖÎ†•ÌïúÎã§Î©¥ Ïù¥Í≤ÉÏùÄ 3Î≤àÏß∏ Ïù∏Îç±Ïä§ÏôÄ 4Î≤àÏß∏ ÏπºÎüºÏóê Ìï¥ÎãπÌïòÎäî Í∞íÏùÑ Ï∂úÎ†•ÌïòÍ≤å Îê©ÎãàÎã§.

„Ö§

## **9. Dataframe Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±**

*   Îç∞Ïù¥ÌÑ∞ÌîÑÎùºÏûÑ[ÏπºÎüºÎ™Ö] = Í∞í : ÏÉàÎ°úÏö¥ ÏπºÎüºÏóê Í∞íÏùÑ ÏÉùÏÑ±

In [ ]:
## Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
penguin_df1 = penguin_df
penguin_df1['joy'] = 0

df1 = pd.DataFrame(np.random.randn(100, 1)) # 100Í∞úÏùò Ìñâ
penguin_df1['joya'] = df1
penguin_df1

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g),joy,joya
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550,0,-1.161399
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,49.5,19.0,200,MALE,9.63074,-24.34684,3800,0,-0.527440
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400,0,0.845795
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850,0,-0.844648
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700,0,-0.818367
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700,0,NaN
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250,0,NaN
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100,0,NaN
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700,0,NaN
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600,0,NaN

Í∏∞Ï°¥Ïóê ÏûàÎçò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÉàÎ°úÏö¥ Î≥ÄÏàò penguin_df1Î°ú ÏÉàÎ°ú ÏÉùÏÑ±Ìï©ÎãàÎã§.

penguin_df1Ïóê 0Ïùò Îç∞Ïù¥ÌÑ∞ Í∞íÏùÑ Í∞ÄÏßÑ joy ÏπºÎüºÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.
</br></br>

df1ÎùºÎäî Î≥ÄÏàòÏóê 100Í∞úÏùò ÎÇúÏàòÎ•º ÏÉùÏÑ±Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.

penguin_df1Ïóê df1Î•º Ïù¥Ïö©ÌïòÏó¨ joya ÏπºÎüºÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.

„Ö§

## **10. Dataframe Îç∞Ïù¥ÌÑ∞ Î≥ÄÍ≤Ω**

### **1) ÏúÑÏπò Î≥ÄÍ≤Ω**

*  .at[Ìñâ, Ïó¥] = Í∞í : ÎùºÎ≤®Ïùò Ïù¥Î¶ÑÏùÑ Ïù¥Ïö©ÌïòÏó¨ ÏõêÌïòÎäî ÏúÑÏπòÏùò Í∞íÏùÑ Î≥ÄÍ≤ΩÌï† Ïàò ÏûàÏäµÎãàÎã§.

*  .iat[Ïù∏Îç±Ïä§Î≤àÌò∏] = Í∞í : Ïù∏Îç±Ïä§ Î≤àÌò∏Î•º Ïù¥Ïö©Ìïú ÏúÑÏπòÏùò Í∞íÏùÑ Î≥ÄÍ≤ΩÌï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

In [ ]:
## ÌäπÏ†ï Í∞íÏùÑ ÏÑ†ÌÉùÌïòÏó¨ Î≥ÄÍ≤Ω
# ÎùºÎ≤® Ïù¥Ïö©, Î™ÖÏπ≠ Í∏∞Î∞ò
penguin_df1.at[1,'Culmen Length (mm)'] = 0
penguin_df1

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g),joy,joya
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550,0,-1.161399
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,0.0,19.0,200,MALE,9.63074,-24.34684,3800,0,-0.527440
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400,0,0.845795
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,214,FEMALE,8.20106,-26.16524,4850,0,-0.844648
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700,0,-0.818367
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700,0,NaN
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250,0,NaN
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100,0,NaN
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700,0,NaN
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600,0,NaN

Ïù∏Îç±Ïä§Î™ÖÏù¥ 1Ïù¥Í≥† ÏπºÎüºÎ™ÖÏù¥ Culmen Length (mm)Ïóê Ìï¥ÎãπÌïòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä 49.5ÏóêÏÑú ÏßÄÏ†ïÌïú 0ÏúºÎ°ú Î≥ÄÍ≤ΩÎêú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

In [ ]:
# ÏúÑÏπò Í∏∞Î∞ò Í∞í Î≥ÄÍ≤Ω
penguin_df1.iat[3,6] = 0
penguin_df1

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (g),joy,joya,5
0,0,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.0,15.3,220,MALE,8.30515,-25.19017,5550,0,-0.074710,NaN
1,1,Chinstrap penguin (Pygoscelis antarctica),Dream,No,0.0,19.0,200,MALE,9.63074,-24.34684,3800,0,0.033550,0.0
2,2,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,45.1,14.4,210,FEMALE,8.51951,-27.01854,4400,0,-1.111575,NaN
3,3,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.7,0,FEMALE,8.20106,-26.16524,4850,0,-0.847235,NaN
4,4,Gentoo penguin (Pygoscelis papua),Biscoe,No,49.6,16.0,225,MALE,8.38324,-26.84272,5700,0,0.513725,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,109,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,36.6,17.8,185,FEMALE,NaN,NaN,3700,0,NaN,NaN
110,110,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,39.2,18.6,190,MALE,9.11006,-25.79549,4250,0,NaN,NaN
111,111,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,43.2,18.5,192,MALE,8.97025,-26.03679,4100,0,NaN,NaN
112,112,Chinstrap penguin (Pygoscelis antarctica),Dream,No,46.9,16.6,192,FEMALE,9.80589,-24.73735,2700,0,NaN,NaN
113,113,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,50.8,17.3,228,MALE,8.27428,-26.30019,5600,0,NaN,NaN

ÏúÑÏπòÍ∏∞Î∞òÏùÑ ÏÇ¨Ïö©Ìï† ÎïåÎäî Í∏∞ÏûÖÌïú Ïà´ÏûêÏóê +1ÏùÑ ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º ÏÑ†ÌÉù, Î≥ÄÍ≤ΩÌï©ÎãàÎã§.

Ïà´ÏûêÎ•º ÏÖÄ Îïå 1Î∂ÄÌÑ∞Í∞Ä ÏïÑÎãàÎùº 0Î∂ÄÌÑ∞ ÏÑ∏Í∏∞ ÎïåÎ¨∏ÏûÖÎãàÎã§.
</br></br>

Ïù∏Îç±Ïä§Îäî 4Î≤àÏß∏Ïóê ÏúÑÏπòÌïú 3, ÏπºÎüºÏùÄ 7Î≤àÏß∏Ïóê ÏúÑÏπòÌïú Flipper Length (mm)Ïùò Îç∞Ïù¥ÌÑ∞ Í∞íÏù¥ 214ÏóêÏÑú 0ÏúºÎ°ú Î≥ÄÍ≤ΩÎêú Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

### **2) ÌñâÍ≥º Ïó¥ ÍµêÌôòÌïòÍ∏∞**




*   .T : ‚ÄòTranspose index and columns‚ÄôÏùò ÏïΩÏûêÎ°ú, index ÏôÄ column ÏùÑ Ï†ÑÏπòÏãúÌÇµÎãàÎã§.

In [ ]:
# ÌñâÍ≥º Ïó¥ ÍµêÌôò
T = penguin_df.T
print(T)

                                                   0    \
id                                                   0
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                50.0
Culmen Depth (mm)                                 15.3
Flipper Length (mm)                                220
Sex                                               MALE
Delta 15 N (o/oo)                              8.30515
Delta 13 C (o/oo)                            -25.19017
Body Mass (g)                                     5550
joy                                                  0
joya                                         -1.161399

                                                           1    \
id                                                           1
Species              Chinstrap penguin (Pygoscelis antarctica)
Island                                                   Dream
Clutch Completion                                           No
Culmen Length (mm)                                         0.0
Culmen Depth (mm)                                         19.0
Flipper Length (mm)                                        200
Sex                                                       MALE
Delta 15 N (o/oo)                                      9.63074
Delta 13 C (o/oo)                                    -24.34684
Body Mass (g)                                             3800
joy                                                          0
joya                                                  -0.52744

                                                   2    \
id                                                   2
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                45.1
Culmen Depth (mm)                                 14.4
Flipper Length (mm)                                210
Sex                                             FEMALE
Delta 15 N (o/oo)                              8.51951
Delta 13 C (o/oo)                            -27.01854
Body Mass (g)                                     4400
joy                                                  0
joya                                          0.845795

                                                   3    \
id                                                   3
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                44.5
Culmen Depth (mm)                                 14.7
Flipper Length (mm)                                214
Sex                                             FEMALE
Delta 15 N (o/oo)                              8.20106
Delta 13 C (o/oo)                            -26.16524
Body Mass (g)                                     4850
joy                                                  0
joya                                         -0.844648

                                                   4    \
id                                                   4
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                   No
Culmen Length (mm)                                49.6
Culmen Depth (mm)                                 16.0
Flipper Length (mm)                                225
Sex                                               MALE
Delta 15 N (o/oo)                              8.38324
Delta 13 C (o/oo)                            -26.84272
Body Mass (g)                                     5700
joy                                                  0
joya                                         -0.818367

                                                   5    \
id                                                   5
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                51.1
Culmen Depth (mm)                                 16.5
Flipper Length (mm)                                225
Sex                                               MALE
Delta 15 N (o/oo)                               8.2066
Delta 13 C (o/oo)                            -26.36863
Body Mass (g)                                     5250
joy                                                  0
joya                                          0.876679

                                                     6    \
id                                                     6
Species              Adelie Penguin (Pygoscelis adeliae)
Island                                         Torgersen
Clutch Completion                                    Yes
Culmen Length (mm)                                  42.0
Culmen Depth (mm)                                   20.2
Flipper Length (mm)                                  190
Sex                                                  NaN
Delta 15 N (o/oo)                                9.13362
Delta 13 C (o/oo)                              -25.09368
Body Mass (g)                                       4250
joy                                                    0
joya                                            0.296507

                                                           7    \
id                                                           7
Species              Chinstrap penguin (Pygoscelis antarctica)
Island                                                   Dream
Clutch Completion                                          Yes
Culmen Length (mm)                                        46.4
Culmen Depth (mm)                                         18.6
Flipper Length (mm)                                        190
Sex                                                     FEMALE
Delta 15 N (o/oo)                                      9.32105
Delta 13 C (o/oo)                                    -24.64162
Body Mass (g)                                             3450
joy                                                          0
joya                                                 -1.026183

                                                     8    \
id                                                     8
Species              Adelie Penguin (Pygoscelis adeliae)
Island                                         Torgersen
Clutch Completion                                    Yes
Culmen Length (mm)                                  34.1
Culmen Depth (mm)                                   18.1
Flipper Length (mm)                                  193
Sex                                                  NaN
Delta 15 N (o/oo)                                    NaN
Delta 13 C (o/oo)                                    NaN
Body Mass (g)                                       3475
joy                                                    0
joya                                            1.584051

                                                   9    ...  \
id                                                   9  ...
Species              Gentoo penguin (Pygoscelis papua)  ...
Island                                          Biscoe  ...
Clutch Completion                                  Yes  ...
Culmen Length (mm)                                47.7  ...
Culmen Depth (mm)                                 15.0  ...
Flipper Length (mm)                                216  ...
Sex                                             FEMALE  ...
Delta 15 N (o/oo)                              8.53018  ...
Delta 13 C (o/oo)                            -26.72751  ...
Body Mass (g)                                     4750  ...
joy                                                  0  ...
joya                                          0.458323  ...

                                                   104  \
id                                                 104
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                46.4
Culmen Depth (mm)                                 15.6
Flipper Length (mm)                                221
Sex                                               MALE
Delta 15 N (o/oo)                              8.35078
Delta 13 C (o/oo)                            -26.70783
Body Mass (g)                                     5000
joy                                                  0
joya                                               NaN

                                                           105  \
id                                                         105
Species              Chinstrap penguin (Pygoscelis antarctica)
Island                                                   Dream
Clutch Completion                                           No
Culmen Length (mm)                                        52.0
Culmen Depth (mm)                                         19.0
Flipper Length (mm)                                        197
Sex                                                       MALE
Delta 15 N (o/oo)                                      9.36799
Delta 13 C (o/oo)                                    -24.47142
Body Mass (g)                                             4150
joy                                                          0
joya                                                       NaN

                                                   106  \
id                                                 106
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                45.5
Culmen Depth (mm)                                 15.0
Flipper Length (mm)                                220
Sex                                               MALE
Delta 15 N (o/oo)                              8.63604
Delta 13 C (o/oo)                             -26.7489
Body Mass (g)                                     5000
joy                                                  0
joya                                               NaN

                                                           107  \
id                                                         107
Species              Chinstrap penguin (Pygoscelis antarctica)
Island                                                   Dream
Clutch Completion                                          Yes
Culmen Length (mm)                                        46.8
Culmen Depth (mm)                                         16.5
Flipper Length (mm)                                        189
Sex                                                     FEMALE
Delta 15 N (o/oo)                                      9.65061
Delta 13 C (o/oo)                                    -24.48153
Body Mass (g)                                             3650
joy                                                          0
joya                                                       NaN

                                                           108  \
id                                                         108
Species              Chinstrap penguin (Pygoscelis antarctica)
Island                                                   Dream
Clutch Completion                                          Yes
Culmen Length (mm)                                        49.0
Culmen Depth (mm)                                         19.6
Flipper Length (mm)                                        212
Sex                                                       MALE
Delta 15 N (o/oo)                                      9.34089
Delta 13 C (o/oo)                                    -24.45189
Body Mass (g)                                             4300
joy                                                          0
joya                                                       NaN

                                                     109  \
id                                                   109
Species              Adelie Penguin (Pygoscelis adeliae)
Island                                         Torgersen
Clutch Completion                                    Yes
Culmen Length (mm)                                  36.6
Culmen Depth (mm)                                   17.8
Flipper Length (mm)                                  185
Sex                                               FEMALE
Delta 15 N (o/oo)                                    NaN
Delta 13 C (o/oo)                                    NaN
Body Mass (g)                                       3700
joy                                                    0
joya                                                 NaN

                                                     110  \
id                                                   110
Species              Adelie Penguin (Pygoscelis adeliae)
Island                                             Dream
Clutch Completion                                    Yes
Culmen Length (mm)                                  39.2
Culmen Depth (mm)                                   18.6
Flipper Length (mm)                                  190
Sex                                                 MALE
Delta 15 N (o/oo)                                9.11006
Delta 13 C (o/oo)                              -25.79549
Body Mass (g)                                       4250
joy                                                    0
joya                                                 NaN

                                                     111  \
id                                                   111
Species              Adelie Penguin (Pygoscelis adeliae)
Island                                             Dream
Clutch Completion                                    Yes
Culmen Length (mm)                                  43.2
Culmen Depth (mm)                                   18.5
Flipper Length (mm)                                  192
Sex                                                 MALE
Delta 15 N (o/oo)                                8.97025
Delta 13 C (o/oo)                              -26.03679
Body Mass (g)                                       4100
joy                                                    0
joya                                                 NaN

                                                           112  \
id                                                         112
Species              Chinstrap penguin (Pygoscelis antarctica)
Island                                                   Dream
Clutch Completion                                           No
Culmen Length (mm)                                        46.9
Culmen Depth (mm)                                         16.6
Flipper Length (mm)                                        192
Sex                                                     FEMALE
Delta 15 N (o/oo)                                      9.80589
Delta 13 C (o/oo)                                    -24.73735
Body Mass (g)                                             2700
joy                                                          0
joya                                                       NaN

                                                   113
id                                                 113
Species              Gentoo penguin (Pygoscelis papua)
Island                                          Biscoe
Clutch Completion                                  Yes
Culmen Length (mm)                                50.8
Culmen Depth (mm)                                 17.3
Flipper Length (mm)                                228
Sex                                               MALE
Delta 15 N (o/oo)                              8.27428
Delta 13 C (o/oo)                            -26.30019
Body Mass (g)                                     5600
joy                                                  0
joya                                               NaN

[13 rows x 114 columns]

ÌñâÍ≥º Ïó¥Ïùò ÏúÑÏπòÍ∞Ä Î∞îÎÄê Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

## **11. Dataframe Îç∞Ïù¥ÌÑ∞ Í≤∞Ìï©**

### **1) concat**

*   concatÏùÄ concatenationÏùò ÏïΩÏûêÎ°ú Ïó∞Í≤∞ÏùÑ ÏùòÎØ∏Ìï©ÎãàÎã§. Ï¶â, Îëê Í∞ú Ïù¥ÏÉÅÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎùºÏûÑ Í≤∞Ìï©Ìï† Îïå ÏÇ¨Ïö©ÌïòÎäî Î©îÏÜåÎìúÏûÖÎãàÎã§. 

*   pd.concat([Îç∞Ïù¥ÌÑ∞ÌîÑÎùºÏûÑ], [Îç∞Ïù¥ÌÑ∞ÌîÑÎùºÏûÑ])

*   axis: Ïñ¥ÎñªÍ≤å Í≤∞Ìï©Ìï† Í±¥ÏßÄ Í≤∞Ï†ïÌïòÎäî ÌååÎùºÎØ∏ÌÑ∞ÏûÖÎãàÎã§.

  - 0: Ïó¥ (ÎîîÌè¥Ìä∏), 1: Ìñâ

In [ ]:
# concat
df11 = pd.DataFrame([1,2,3,4,5])
df22 = pd.DataFrame([6,7,8,9,10])
print(pd.concat([df11, df22]))   # Ïó¥Î°ú Ìï©ÏπòÍ∏∞

print(pd.concat([df11, df22], axis = 1))  # ÌñâÏúºÎ°ú Ìï©ÏπòÍ∏∞

    0
0   1
1   2
2   3
3   4
4   5
0   6
1   7
2   8
3   9
4  10
   0   0
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

„Ö§

In [ ]:
df11 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [1,2,3])
df22 = pd.DataFrame({'C' : ['c', 'c', 'c'], 'D' : ['d', 'd', 'd']}, index = [4,5,6])
print(pd.concat([df11, df22]))

     A    B    C    D
1    a    b  NaN  NaN
2    a    b  NaN  NaN
3    a    b  NaN  NaN
4  NaN  NaN    c    d
5  NaN  NaN    c    d
6  NaN  NaN    c    d

concatÏùÄ ÏπºÎüºÍ≥º Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©ÌïòÎäîÎç∞ Í≥µÌÜµÎêú ÏπºÎüºÏù¥ÎÇò Ïù∏Îç±Ïä§Í∞Ä ÏóÜÏñ¥ NaNÏùÑ Ìè¨Ìï®ÌïòÏó¨ Í≤∞Ìï©ÌïòÍ≤å Îê©ÎãàÎã§.

„Ö§

In [ ]:
df22 = pd.DataFrame({'C' : ['c', 'c', 'c'], 'D' : ['d', 'd', 'd']}, index = [1,2,3])
print(pd.concat([df11, df22], axis = 1))

   A  B  C  D
1  a  b  c  d
2  a  b  c  d
3  a  b  c  d

Í≥µÌÜµÎêú Ïù∏Îç±Ïä§Í∞Ä Ï°¥Ïû¨ÌïòÏó¨ ÏïÑÍπåÏôÄÎäî Îã§Î•¥Í≤å NaN Í∞íÏù¥ Ìè¨Ìï®ÌïòÏßÄ ÏïäÍ≥† Í≤∞Ìï©Ìï† Ïàò ÏûàÏäµÎãàÎã§.

„Ö§

In [ ]:
df11 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [1,2,3])
df22 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [4,5,6])
print(pd.concat([df11, df22]))

   A  B
1  a  b
2  a  b
3  a  b
4  a  b
5  a  b
6  a  b

Î∞òÎåÄÎ°ú Í≥µÌÜµÎêú ÏπºÎüºÏù¥ Ï°¥Ïû¨ÌïòÍ≥† Ïó¥ÏúºÎ°ú Î≥ëÌï©ÌïòÍ≤å ÎêòÎ©¥ NaN Í∞íÏùÑ Î∞úÏÉùÌïòÏßÄ ÏïäÍ≥† Ìï©Ï≥êÏßÄÍ≤å Îê©ÎãàÎã§.

„Ö§

### **2) append**

*   concatÍ≥º Îã¨Î¶¨ ÌñâÏúºÎ°ú Í≤∞Ìï©Ïù¥ Í∞ÄÎä•Ìï©ÎãàÎã§. (Ïó¥Î°ú Í≤∞Ìï© Î∂àÍ∞ÄÎä•)

*   Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ1.append(Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ2)

In [ ]:
# append Ïù¥Ïö©
df11 = pd.DataFrame({'A' : ['a', 'a', 'a'], 'B' : ['b', 'b', 'b']}, index = [1,2,3])
df22 = pd.DataFrame({'C' : ['c', 'c', 'c'], 'D' : ['d', 'd', 'd']}, index = [4,5,6])
print(df11.append(df22))

     A    B    C    D
1    a    b  NaN  NaN
2    a    b  NaN  NaN
3    a    b  NaN  NaN
4  NaN  NaN    c    d
5  NaN  NaN    c    d
6  NaN  NaN    c    d

„Ö§



---

Ïù¥Î†áÍ≤å PandasÏóê ÎåÄÌï¥ Ìï®Íªò Í≥µÎ∂ÄÌï¥Î≥¥ÏïòÎäîÎç∞Ïöî!

Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú Îã§Î£®ÏßÄ ÏïäÏùÄ Í≤ÉÎì§(drop Îì±)ÏùÄ Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ÏôÄ Í∞ôÏùÄ ÌõÑÏÜçÌé∏ÏóêÏÑú Îã§Î£∞ ÏòàÏ†ïÏûÖÎãàÎã§.

PandasÎäî ÏïûÏÑú ÏÜåÍ∞úÌïú NumpyÍ≥º Ìï®Íªò Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏóê ÏûàÏñ¥ÏÑú ÎßéÏù¥ ÌôúÏö©ÎêòÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏûÖÎãàÎã§.

ÌäπÌûà Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§Í≥† Î≥ÄÍ≤ΩÌïòÎäî ÌååÌä∏Îäî Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨Ïóê ÏûàÏñ¥ Í∞ÄÏû• Í∏∞Î≥∏Ï†ÅÏù¥Î©¥ÏÑúÎèÑ Ï§ëÏöîÌïú Î∞©Î≤ïÏù¥Í∏∞ ÎïåÎ¨∏Ïóê ÍººÍººÌïòÍ≤å Í≥µÎ∂ÄÌïòÏãúÎäî Í±∏ Ï∂îÏ≤úÌï©ÎãàÎã§!
</br></br>

üì£ Îã§ÏùåÏùÄ **scikit-learnÏùÑ Îã§Î£®Îäî Í∏∞Ï¥à ÎùºÏù¥Î∏åÎü¨Î¶¨ ÏÇ¨Ïö© ÏÑ§Î™ÖÏÑú 3ÌÉÑ**Ïù¥ ÏóÖÎ°úÎìúÎê† ÏòàÏ†ïÏûÖÎãàÎã§!

ÎßéÏùÄ Í¥ÄÏã¨Í≥º Ïï†Ï†ï Î∂ÄÌÉÅÎìúÎ†§Ïöîüíõ Í∞êÏÇ¨Ìï©ÎãàÎã§!